
body{
    background-color: hsl(136, 36%, 32%);
    color: rgb(8, 51, 37);
    text-align: center;
    font-size: 20px;
    padding: 0 24px;
}

.texto-um{
    color: #FFA500;
font-size: 24px;

}

.texto-dois{
    color: #FFA500;
    font-size: 24px;
}
.paragrafo{
    font-size: 18px;
}

.rodape{
    text-align: center;
    display: grid;
    font-size: 18px;
    color: black;
}
.imagem{
    width: 60%;
}
.linha{
    border-bottom: 1px solid#808080;
    border-top: 1px solid#808080;
}