
body{
    background-color: hsl(0, 0%, 92%);
    color: rgb(60, 116, 168);
    text-align: center;
    font-size: 20px;
    padding: 0 24px;
}

.texto-1{
    color:#455985;
font-size: 24px;

}

.texto-dois{
    color: #134e86;
    font-size: 24px;
}
.paragrafo{
    font-size: 18px;
}

.rodape{
    text-align: center;
    display: grid;
    font-size: 18px;
    color: rgb(121, 9, 46);
}
.imagem{
    width: 70%;
}
.linha{
    border-bottom: 1px solid#808080;
    border-top: 1px solid#808080;
}